{
  "presets": [
    ["env", 
      { 
         targets: {
           "node": "13.2.0", 
           "esmodules": true 
         }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import"
  ]
}
